<div class="p-5 rounded-3xl bg-white/5 border border-white/10 shadow-xl">
  <h2 class="text-xl font-semibold">Mis listas</h2>

  <div class="mt-4 flex gap-2">
    <button (click)="setTab('WANT')" class="px-4 py-2 rounded-2xl border border-white/10"
      [ngClass]="{ 'bg-white/15': tab === 'WANT', 'bg-white/5': tab !== 'WANT' }">
      Quiero leer
    </button>

    <button (click)="setTab('READ')" class="px-4 py-2 rounded-2xl border border-white/10"
      [ngClass]="{ 'bg-white/15': tab === 'READ', 'bg-white/5': tab !== 'READ' }">
      Leídos
    </button>


  </div>

  <div *ngIf="loading" class="mt-4 h-48 rounded-3xl bg-white/5 animate-pulse"></div>

  <div *ngIf="!loading" class="mt-4 grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let b of items" class="p-4 rounded-3xl bg-white/5 border border-white/10">
      <div class="flex gap-4">
        <div class="w-20 h-28 rounded-2xl overflow-hidden bg-white/10 border border-white/10 shrink-0">
          <img *ngIf="b.thumbnail" [src]="b.thumbnail" [alt]="b.title" class="w-full h-full object-cover" />
          <div *ngIf="!b.thumbnail" class="w-full h-full grid place-items-center text-white/60 text-xs">Sin portada
          </div>
        </div>
        <div class="min-w-0">
          <div class="font-semibold truncate">{{ b.title }}</div>
          <div class="text-sm text-white/70 truncate">{{ (b.authors?.length ? b.authors.join(', ') : 'Autor
            desconocido') }}</div>
          <div class="text-xs text-white/60 mt-2 truncate" *ngIf="b.categories?.length">{{ b.categories[0] }}</div>
          <div *ngIf="b.status === 'READ'" class="flex gap-1 mt-2">
            <span *ngFor="let star of [1,2,3,4,5]" (click)="rate(b, star)" class="cursor-pointer text-lg"
              [class.text-yellow-400]="b.rating >= star" [class.text-white]="b.rating < star"
              [class.opacity-40]="b.rating < star">
              ★
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>