<div class="min-h-screen">
  <header class="sticky top-0 z-20 backdrop-blur bg-white/5 border-b border-white/10">
    <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">

      <a routerLink="/app/dashboard" class="flex items-center gap-3 cursor-pointer group">
        <div class="w-10 h-10 rounded-xl bg-white/10 grid place-items-center
           transition-all duration-200
           group-hover:scale-110 active:scale-95 group-hover:bg-white/20">
          🌊
        </div>
        <div>
          <div class="font-semibold group-hover:text-cyan-300 transition">
            Readathon | El océano de los libros
          </div>
          <div class="text-xs text-white/60">
            Tu biblioteca submarina
          </div>
        </div>
      </a>

      <nav class="flex gap-2 text-sm items-center">
        <a routerLink="/app/dashboard" routerLinkActive="bg-white/10"
          class="px-3 py-2 rounded-xl hover:bg-white/10">Dashboard</a>

        <a routerLink="/app/discover" routerLinkActive="bg-white/10"
          class="px-3 py-2 rounded-xl hover:bg-white/10">Buscar</a>

        <a routerLink="/app/my-books" routerLinkActive="bg-white/10" class="px-3 py-2 rounded-xl hover:bg-white/10">Mis
          listas</a>

        <div class="relative">
          <button
            class="px-4 py-2 rounded-xl bg-white/10 hover:bg-white/15 border border-white/10 flex items-center gap-2"
            (click)="toggleSecurity()">
            Seguridad
          </button>

          <div *ngIf="securityOpen" @dropdownAnimation
            class="absolute right-0 mt-2 w-48 rounded-2xl bg-slate-800 border border-white/10 shadow-xl overflow-hidden z-50">
            <a routerLink="/app/change-password" class="block px-4 py-3 hover:bg-white/10 text-sm"
              (click)="securityOpen=false">
              Cambiar contraseña
            </a>

            <button class="w-full text-left px-4 py-3 hover:bg-white/10 text-sm text-red-300" (click)="logout()">
              Cerrar sesión
            </button>
          </div>
        </div>

        <button (click)="logout()"
          class="ml-2 px-3 py-2 rounded-xl bg-white/10 hover:bg-white/15 border border-white/10">
          ⏻
        </button>
      </nav>
    </div>
  </header>

  <main class="max-w-6xl mx-auto px-4 py-6">
    <router-outlet></router-outlet>
  </main>
</div>